* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(10,10,71,1) 100%, rgba(0,212,255,1) 100%);
    color: white;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 1000;
}  

h2{
    font-size: 45px;
}


.item{
    position: relative;
    text-decoration: none;
    font-family: 'Poopins', sans-serif;
    color: white;
    font-family: 18px;
    letter-spacing: 0.5px;
}

.item:after{
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}



.item:hover{
    color: #ffffff;
}

.item:hover:after{
    width: 100%;
    
}

h1{
    font-size: 45px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline;
}

.cont-nombre{
    height: 80vh;
}

.nombre {
    display: flex;
    justify-content: center;
    align-items: center; 
    align-content: center;
    margin-top: 100px;
}

.logo {
    height: 50px; 
    width: 0px;  
    padding: 1px;
}

.logos {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.experiencia{
    margin-left: 35px;
}

.cont-lenguajes{
    display: flex;
    justify-content: space-around;
}


.lineatemp{
    position: relative;
    width: 800px;
    margin: 0 auto;
    border: 1px solid lightgray;
    border-radius: 10px;
    }
.fila{
    display: flex;
    justify-content: start;
    border-bottom: 1px solid lightgray;
    position: relative;
    }
.fila .disco{
    width: 36px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    }
.fila .disco:after{
    content:'';
    position: absolute;
    top: 0;
    left: calc(505 - 2px);
    height: 100%;
    width: 3px;
    background: grey;
    z-index: -1;
    }
.fila:first-child .disco:after{
    height: 50%;
    top: 50%;
    }
.fila:last-child .disco:after{
    height: 50%;
    }
.fila .disco > div{
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: grey;
    box-sizing: border-box;
    }
.fila:hover .disco > div{
    border: 3px solid black;
    background: white;
    }
.fila div:nth-of-type(2){
    width: 20%;
    padding: 4px;
    display: flex;
    align-items:center;
    }
.fila div:nth-of-type(3){
    width: 60%;
    padding: 4px;
    }

.card{
    background-color: transparent; 
}

section{
    scroll-margin-top: 90px; 
    margin-bottom: 100px;
}

.botoninicio {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFF0E68C; 
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    text-align: center;
}

.botoninicio:hover {
    background-color: #808090;
    color: white;
}

.botoninicio:active {
    transform: translateY(1px);
}

.titulo{
    margin-left: 15px;
    font-style: italic;
}

.logoTech{
    transition: transform 0.3s;
}

.logoTech:hover{
    transform: scale(1.2);
}